body  
{ 
    background-color: whitesmoke
}

h1  
{
    color: deeppink;
    font-family: sans-serif; 
    font-style: italic;
    font-size: 60px;
 }

p   {
    color:dimgrey; 
    font-size: 40px;
    font-style: italic;
}
    
h2
{
    color:grey; 
    background-color: floralwhite; 
    font-weight: 1000; 
    font-size: 40px;
}
    
h3
{
    color:dimgrey; 
    font-size: 40px;
    font-style: italic;
}


#unique 
{
    border: solid pink
}
    

    
    